* {
	box-sizing: border-box;
}

body {
		background-color: #323232;
    line-height: 1.6;
    max-width: 1220px;
    margin: 0 auto;
    text-align: center;
}

body,
a {
	color: #bfbfbf;
}

.container {
	width: 90%;
	margin: 0 auto 10px auto;
	border-bottom: 2px solid #266c2e;
}

/*SKILLS*/

.skills p,
.project li{
	border-radius: 5px;
}

.skills p{
	width: 80%;
	margin: 5% 10%;
	padding: 20px 10px;
}

.skills-html {
	background-color: #26455F;
}
.skills-css {
	background-color: #104d17;
}
.skills-sass {
	background-color: #372d49;
}
.skills-js {
	background-color: #9c2222;
}
.skills-jq {
	background-color: #e24d1b;
}
.skills-react {
	background-color: #0e3561;
}


/*NAVIGATION*/
nav {
	background-color: rgba(38,38,38,0.3);
}

nav ul {
	width: 70%;
	margin: 0 auto;

}

nav a {
	color: #c1c1c1;
}

.flex {
	display: flex;
	margin: 0 auto;
}

.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a p {
	margin: 0 10px;
}

li {
	padding: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}

a {
	text-decoration: none;
}


/*IMAGES*/

.profile-img {
	border-radius: 50%;
	width: 80%;
	margin: 0 10%;
}

.project-img {
	width: 100%;
}
